html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}



.modal-body {
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
}


.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.kv-grid-container{
    overflow-x:scroll;
}


.kv-grid-table .form-control {
    width: 150px;

}
