
.navbar{min-height:80px;background:#fff;
.navbar-brand{padding:10px 0;}
.navbar-right{margin:14px 0px;
	a{padding:15px 30px;font-weight:300;font-size:14px; color:#5a616f;}
	.login{background:#f6f5f6;border:0px;margin-right:30px;  @extend .mar-tp-10;}
	.getApp{background:#febd22;border:0px; @extend .mar-tp-10;color:#fff;padding: 7px 20px}
	
}
}
